form[name="return_clients"] {
	width: 750px;
}
form[name="return_clients"] table {
	width: 100%;
}
#p66_returns .web_ar_datagrid {
	 margin-top: 5px;

 }
#p66_returns table.web_ar_datagrid td, #p66_returns table.web_ar_datagrid th, #p66_returns .table_control{
	text-align: center;
}
span.small {
	font-size: 70%;
}
#rtc_csc_id_viewState {
	width: 220px!important;
}
input[type="checkbox"] {
	margin-right: 5px!important;
}
#pst_info tr:hover {
	cursor: pointer;
	background: #cfc390;
}